.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--branco);
}

.container{
    display: flex;
    align-items: center;
}

.container__botao{
    display: none;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.cabecalho__menu-hamburger{
    display: inline-block;
    background-image: url("../imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburger{
    background-image: url("../imagens/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--azul-degrade);
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__titulo, .lista-menu__item{
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item{
    color: var(--azul-degrade);
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho{
        justify-content: center;
        gap: 3em;
    }


    .container__titulo, .container__titulo-negrito{
        font-family: var(--fonte-secundaria);
        font-size: 1.9rem;
    }

    .container__titulo{
        display: block;
        font-weight: 400;
    }

    .container__titulo-negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        gap: 22px;
    }

    .opcoes__item{
        font-size: 1rem;
        text-transform: uppercase;
        padding: 1em;
        cursor: pointer;
    }

    .opcoes__link{
        color: var(--preto);
        text-decoration: none;
    }

    .container__imagem-favoritos{
        display: none;
    }

    .cabecalho__menu-hamburger{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho{
        padding: 0 5em;
    }

    .container__link{
        display: flex;
        align-items: center;
        color: var(--preto);
        text-decoration: none;
    }

    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}